@import 'base/variables';
* {
    font-family: 'MuseoSansCyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/title';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/sliders';
@import 'blocks/catalog';
@import 'blocks/feeds';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'base/media';