.benefits {
    min-height: 470px;
    padding: 70px 0 85px 0;
    background-color: #F6F6F6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 236px;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
        margin-top: 35px;
    }
    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 20px;
        a {
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
}
