.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 60px 56px 60px;
    }
    &__addr {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;  
        line-height: 20px;  
    }
    &__phone {
        text-decoration: none;
        display: block;
        margin-bottom: 36px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        line-height: 20px;
        &:hover {
            color: #FFFFFF;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 52px;
        border: 2px solid #FFFFFF;
        border-radius: 100%;
        margin: 0 27px;
        &:hover {
            box-shadow: 3px 3px 20px #000;
            border: none;
        }
        img {
            height: 25px;
        }
    }
}